@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Tiered of returning clothes that don't fit?</h3>
    <h4>PreSizeMe connects your measurements to the online retailers so they can tell you if the product will fit before you order.</h4>
</div>
